@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Poppins", sans-serif;
}

.pages {
  transition: all 0.3s;
}

header {
  position: fixed;
  transition: all 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../images/bg-pages.png") no-repeat;
  background-size: cover;
  z-index: 10;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  color: white;
  opacity: 0.8;
  padding: 15px 5px;
  border-radius: 10px;
}
.header__logo a img {
  margin-right: 10px;
}
.header__logo a:hover {
  font-size: 20px;
  background-color: rgb(36, 13, 35);
  opacity: 1;
}
.header__link ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__link ul li a {
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
  color: white;
  opacity: 0.8;
  padding: 22px 10px;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
}
.header__link ul li a:hover {
  opacity: 1;
  font-size: 17px;
}
.header__link ul li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: gold;
  position: absolute;
  left: 0;
  bottom: 10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s;
}
.header__link ul li a:hover:before {
  transform: scaleX(1);
}

.burger {
  cursor: pointer;
  display: none;
}
.burger .humb {
  display: block;
  margin: 5px 0px;
  background-color: white;
  width: 25px;
  height: 3px;
  transition: all 0.3s;
}

.burger.active .humb:nth-child(2) {
  opacity: 0;
}

.burger.active .humb:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active .humb:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header-header.header-fixed {
  opacity: 0.7;
}

.header-header.header-fixed:hover {
  opacity: 1;
}

.info {
  background: url("../images/bg-pages.png") no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
}
.info .info__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.info .info__content-left {
  width: 55%;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  padding-top: 70px;
  transition: all 0.5s;
  transform: translateX(-500px);
}
.info .info__content-left .info-subtitle {
  font-weight: 400;
  font-size: 24px;
  transition: all 0.3s;
  cursor: default;
}
.info .info__content-left .info-title {
  font-size: 54px;
  font-weight: 700;
  margin: 30px 0px;
  transition: all 0.3s;
  cursor: default;
}
.info .info__content-left .block-text {
  background-color: rgb(36, 5, 39);
  max-width: 500px;
  padding: 30px 20px 30px 20px;
  position: relative;
  z-index: 0;
}
.info .info__content-left .block-text .info-text {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  transition: all 0.3s;
  cursor: default;
}
.info .info__content-left .block-text .info-text a {
  font-family: "Roboto Condensed", sans-serif;
  color: gold;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s;
}
.info .info__content-left .block-text .info-text a:hover {
  color: rgb(70, 70, 13);
}
.info .info__content-left .block-text::before {
  content: "„";
  position: absolute;
  top: -16px;
  left: 6px;
  font-family: Georgia, serif;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}
.info .info__content-left .block-text::after {
  content: "“";
  position: absolute;
  right: 6px;
  font-family: Georgia, serif;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}
.info .info__content-left.active {
  transform: translateX(0);
}
.info .info__content-right {
  width: 45%;
  transition: all 0.5s;
  transform: translateX(600px);
}
.info .info__content-right img {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 40px;
  transition: all 0.2s;
}
.info .info__content-right img:hover {
  box-shadow: 0px 5px 5px 5px #ccc;
  transform: translateX(-10px);
}
.info .info__content-right.active {
  transform: translateX(0);
}

.humor__content {
  margin-top: -100px;
  background-color: rgb(232, 189, 203);
  overflow: hidden;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 5px 1px 5px 5px #ccc;
}
.humor__content-label {
  display: block;
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: #fff;
  transition: all 0.3s;
  border-radius: 30px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  cursor: default;
}
.humor__content-label:hover {
  background-color: rgb(29, 29, 79);
  color: #fff;
}
.humor__content-text {
  margin-top: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  cursor: default;
}
.humor__content-text .label-it {
  font-weight: 700;
  color: rgb(125, 12, 12);
}
.humor__content-text .label-teacher {
  font-weight: 700;
  color: rgb(68, 60, 17);
}
.humor__content-text .label-js {
  background-color: gold;
  padding: 4px;
  font-weight: 700;
}
.humor__content.element-animation {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.5s;
}
.humor__content.element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
}

.me {
  background-color: rgb(221, 217, 217);
  margin-top: -100px;
  padding-bottom: 150px;
}
.me__content {
  padding-top: 150px;
  display: flex;
  justify-content: space-between;
}
.me__content-left {
  width: 40%;
}
.me__content-left video {
  border-radius: 20px;
  width: 80%;
  height: auto;
}
.me__content-right {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto;
  transition: all 0.3s;
  padding-top: 70px;
  cursor: default;
}
.me__content-right .me-title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 40px;
}
.me__content-right .me-ol {
  margin: 0;
  padding: 0;
}
.me__content-right .me-ol li {
  margin: 25px 0px;
  font-size: 22px;
}
.me__content-right .me-ol li span {
  font-weight: 700;
  margin: 0 10px;
}

.works {
  padding-top: 150px;
  margin-top: -100px;
  background-color: rgb(221, 217, 217);
  overflow: hidden;
}
.works .swiper1 {
  overflow: hidden;
  position: relative;
}
.works .swiper1 .swiper-wrapper .swiper-slide .swiper-btn {
  padding: 20px 15px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(221, 217, 217);
  border: 1px solid rgb(34, 34, 150);
  transition: all 0.3s;
  width: 150px;
}
.works .swiper1 .swiper-wrapper .swiper-slide .swiper-btn:hover {
  background: rgb(34, 34, 150);
  color: rgb(221, 217, 217);
}
.works .swiper1 .swiper-wrapper .swiper-slide .swiper-btn.active {
  background: rgb(34, 34, 150);
  color: rgb(221, 217, 217);
}
.works .swiper1 .swiper-pagination {
  display: none;
  position: absolute;
  top: 61px;
  z-index: 1;
}
.works .swiper1 .swiper-button-prev {
  left: 90%;
}
.works .swiper1 .swiper-button-prev,
.works .swiper1 .swiper-button-next {
  display: none;
  z-index: 1;
}
.works__content {
  display: none;
  margin-top: 90px;
  justify-content: space-between;
}
.works__content-left {
  width: 50%;
}
.works__content-left img {
  width: 100%;
}
.works__content-right {
  width: 50%;
  padding-top: 30px;
  cursor: default;
  transition: all 0.3s;
}
.works__content-right .works-title {
  text-align: center;
  font-weight: 700;
  font-size: 33px;
}
.works__content-right .works-text {
  padding: 10px 15px;
}
.works__content-right .works-text .text-subtitle {
  font-size: 22px;
  font-weight: 700;
}
.works__content-right .works-subtitle {
  text-align: center;
  font-size: 22px;
}
.works__content-right .works-subtitle span {
  color: green;
}
.works__content-right .repositories-work {
  margin-left: 20px;
  font-size: 18px;
}
.works__content-right .repositories-work a {
  display: inline;
  color: rgb(86, 74, 9);
  font-weight: 400;
}
.works__content-right .repositories-work a:hover {
  color: green;
}
.works__content.active {
  display: flex;
}
.works .work-test {
  margin-top: 50px;
}
.works .work-test .test-title {
  text-align: center;
  cursor: default;
  font-size: 24px;
  margin-bottom: 40px;
}
.works .work-test .work-pages {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  background: #00A3FF;
  border-radius: 0px 0px 20px 20px;
}
.works .work-test .work-pages .work-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works .work-test .work-pages .work-header .work-header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 23.2991px;
  line-height: 39px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.works .work-test .work-pages .work-header .work-header-logo span {
  font-style: normal;
  font-weight: 700;
  font-size: 21.5327px;
  line-height: 26px;
  color: #00A3FF;
  padding: 2px 8px;
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
}
.works .work-test .work-pages .work-header .header-pro {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.works .work-test .work-pages .work-header .header-pro img {
  margin-left: 5px;
}
.works .work-test .work-pages .work-info {
  background: #3A83F7;
  margin-top: 25px;
  border-radius: 20px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}
.works .work-test .work-pages .work-info .info__left {
  display: flex;
  align-items: center;
}
.works .work-test .work-pages .work-info .info__left .info__left-text {
  margin-left: 10px;
  border-right: 1px solid rgba(149, 204, 255, 0.27);
  padding-right: 20px;
}
.works .work-test .work-pages .work-info .info__left .info__left-text h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 13px;
  color: #95CCFF;
  text-transform: uppercase;
}
.works .work-test .work-pages .work-info .info__left .info__left-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  color: #FFFFFF;
}
.works .work-test .work-pages .work-info .info__right {
  display: flex;
  align-items: center;
}
.works .work-test .work-pages .work-info .info__right .info__right-text {
  margin-left: 10px;
}
.works .work-test .work-pages .work-info .info__right .info__right-text h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 13px;
  color: #95CCFF;
  text-transform: uppercase;
}
.works .work-test .work-pages .work-info .info__right .info__right-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12.8043px;
  line-height: 23px;
  color: #FFFFFF;
}
.works .work-test .work-pages .products {
  margin-top: 25px;
}
.works .work-test .work-pages .products__text {
  display: flex;
  align-items: center;
}
.works .work-test .work-pages .products__text h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14.4112px;
  line-height: 18px;
  color: #FFFFFF;
}
.works .work-test .work-pages .products__text span {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  padding: 5px 10px;
  background: #FF0099;
  border-radius: 15px;
  margin-left: 10px;
}
.works .work-test .work-pages .products__acord {
  margin-top: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.works .work-test .work-pages .products__acord .label-info {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  width: 100%;
  padding: 18px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  min-width: 345px;
}
.works .work-test .work-pages .products__acord .label-info img {
  margin-left: 37px;
}
.works .work-test .work-pages .products__acord .label-info h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 15.6058px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 13px;
}
.works .work-test .work-pages .products__acord .acord-car {
  display: none;
  transition: all 0.3s;
  max-height: 45px;
  margin-bottom: 20px;
  margin-top: 4px;
  align-items: center;
  justify-content: space-between;
}
.works .work-test .work-pages .products__acord .acord-car input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.works .work-test .work-pages .products__acord .acord-car img {
  cursor: pointer;
  z-index: 100;
}
.works .work-test .work-pages .products__acord .acord-car label {
  display: flex;
  align-items: center;
}
.works .work-test .work-pages .products__acord .acord-car label .car-info {
  display: none;
  background-color: #3A83F7;
  border-radius: 15px;
  padding: 7px 15px;
  padding-right: 60px;
  margin-left: -20px;
  position: relative;
}
.works .work-test .work-pages .products__acord .acord-car label .car-info h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14.1498px;
  color: #FFFFFF;
  margin-left: 10px;
}
.works .work-test .work-pages .products__acord .acord-car label .car-info p {
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 164.9%;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
}
.works .work-test .work-pages .products__acord .acord-car label .car-info img {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -8px;
}
.works .work-test .work-pages .products__acord .acord-car .car-input:checked + label .car-info {
  display: block;
}
.works .work-test .work-pages .products__acord .acord-date {
  display: none;
  justify-content: space-between;
}
.works .work-test .work-pages .products__acord .acord-date input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.works .work-test .work-pages .products__acord .acord-date .date-label {
  display: flex;
  align-items: center;
  background: #C7DFFF;
  padding: 10px 10px;
  border-radius: 17.7835px;
  position: relative;
  cursor: pointer;
}
.works .work-test .work-pages .products__acord .acord-date .date-label p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #304E75;
  margin-left: 8px;
}
.works .work-test .work-pages .products__acord .acord-date .date-label .date-yes {
  position: absolute;
  top: 8px;
  left: 38px;
  display: none;
}
.works .work-test .work-pages .products__acord .acord-date .date-input:checked + .date-label {
  background: #FFFFFF;
}
.works .work-test .work-pages .products__acord .radio_input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.works .work-test .work-pages .products__acord .radio_label::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 37px;
  margin-top: -14px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}
.works .work-test .work-pages .products__acord .radio_label::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icons/yes-vector.svg") no-repeat;
  background-size: 14px 14px;
  position: absolute;
  top: 37px;
  margin-top: -7px;
  left: 27px;
  z-index: 2;
  opacity: 0;
}
.works .work-test .work-pages .products__acord .radio_input:checked + .radio_label::after {
  opacity: 1;
}
.works .work-test .work-pages .products__acord .radio_input:checked + .radio_label::before {
  background: white;
}
.works .work-test .work-pages .cars {
  margin-top: 25px;
  position: relative;
}
.works .work-test .work-pages .cars h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14.4112px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.works .work-test .work-pages .cars__block {
  margin-top: 15px;
  background: white;
  padding: 15px 9px 9px 19px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.works .work-test .work-pages .cars__block-option h6 {
  color: #A0A0A0;
  text-transform: uppercase;
  font-size: 11px;
}
.works .work-test .work-pages .cars__block-option .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 17px;
  position: relative;
}
.works .work-test .work-pages .cars__block-option .select .select-burger {
  width: 36px;
  height: 24px;
  cursor: pointer;
}
.works .work-test .work-pages .cars__block-option .select .select-burger span {
  display: block;
  height: 8px;
  width: 100%;
  background: #BFBFBF;
}
.works .work-test .work-pages .cars__block-option .select .select-burger span:nth-child(1) {
  background: #F1F1F1;
  border-radius: 10px 10px 0px 0px;
}
.works .work-test .work-pages .cars__block-option .select .select-burger span:nth-child(2) {
  background: #D9D9D9;
}
.works .work-test .work-pages .cars__block-option .select .select-burger span:nth-child(3) {
  border-radius: 0px 0px 10px 10px;
  background: #BFBFBF;
}
.works .work-test .work-pages .cars__block-option .select .select-burger .span-active.active {
  background-color: red;
}
.works .work-test .work-pages .cars__block-option .select .select-country {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ccc;
  padding: 10px 5px;
  width: 36px;
  left: -10000%;
}
.works .work-test .work-pages .cars__block-option .select .select-country img {
  width: 36px;
  margin-left: -5px;
  cursor: pointer;
}
.works .work-test .work-pages .cars__block-option .select .select-country.active {
  left: 0;
}
.works .work-test .work-pages .cars__block-input h6 {
  color: #A0A0A0;
  text-transform: uppercase;
  font-size: 11px;
}
.works .work-test .work-pages .cars__block-input .input-block {
  display: none;
  margin-top: 8px;
}
.works .work-test .work-pages .cars__block-input .input-block input {
  width: 236px;
  padding: 8px 20px;
  background: #F1F1F1;
  border: 0;
  border-radius: 14px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  font-family: "Montserrat";
}
.works .work-test .work-pages .cars__block-input .input-block.active {
  display: block;
}
.works .work-test .work-pages .cars button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  margin-top: 6px;
  background-color: #33B5FF;
  border-radius: 20px;
  padding: 12px 0px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14.6341px;
  line-height: 18px;
  color: #FFFFFF;
}
.works .work-test .work-pages .cars button img {
  margin-right: 6px;
}
.works .work-test .work-pages .data {
  margin-top: 25px;
}
.works .work-test .work-pages .data h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14.4112px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.works .work-test .work-pages .data__block {
  margin-top: 11px;
  background-color: #fff;
  padding: 12px 19px;
  border-radius: 20px;
}
.works .work-test .work-pages .data__block p {
  font-style: normal;
  font-weight: 700;
  font-size: 9.82588px;
  line-height: 12px;
  color: #A0A0A0;
}
.works .work-test .work-pages .data__block input {
  font-family: "Montserrat";
  margin-top: 7px;
  width: 100%;
  padding: 10px 18px;
  background: #F1F1F1;
  border-radius: 14px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 13.7815px;
  line-height: 17px;
  color: #9A9A9A;
}
.works .work-test .work-pages .select-help {
  position: absolute;
  width: 153px;
  background: url("../images/help.svg") no-repeat;
  background-size: cover;
  padding: 6px 10px;
  padding-top: 10px;
  border-radius: 10px 10px 10px 10px;
  top: 110px;
  left: 15px;
}
.works .work-test .work-pages .select-help p {
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  color: #FFFFFF;
}
.works .work-test .work-pages .select-help.active {
  display: none;
}
.works .work-test .work-pages .forms-accept {
  margin-top: 11px;
  position: relative;
}
.works .work-test .work-pages .forms-accept .checkbox-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.works .work-test .work-pages .forms-accept .checkbox-label p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: 50px;
}
.works .work-test .work-pages .forms-accept .checkbox-label p a {
  display: inline;
  font-weight: 700;
  text-decoration: underline;
  color: white;
}
.works .work-test .work-pages .forms-accept .checkbox-label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1;
}
.works .work-test .work-pages .forms-accept .checkbox-label::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: url("../images/icons/yes-vector.svg") no-repeat;
  background-size: 8px 8px;
  position: absolute;
  top: 11px;
  left: 15px;
  z-index: 2;
  opacity: 0;
}
.works .work-test .work-pages .forms-accept .checkbox-input:checked + .checkbox-label::before {
  background-color: #fff;
  border: 2px solid #fff;
}
.works .work-test .work-pages .forms-accept .checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}
.works .work-test .work-pages .form-pay {
  width: 100%;
  margin-top: 12px;
  padding: 20px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat";
  background: #0085FF;
  border-radius: 25px;
  border: 0;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */