/* header */
@media(max-width: 950px){
    .header__link{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: url('../../images/bg-pages.png') no-repeat;
        background-size: cover;
        top:  70px;
        transition: all .5s;
        z-index: 600;
    }
     .header__link.active{
        left: 0;
        z-index: 500;
     }
    .header__link ul{
        flex-direction: column;
        text-align: center;
        
    }
   .header .burger{
        display: block;
    }
    .header__link ul li a{
        padding: 25px 0px;
        width: 100%;
    }
    .header__link ul li a{
        margin: 0;
    }
}
/* info */
@media(max-width: 1050px){
    .info__content{
        flex-direction: column;
    }
   .info .info__content-left{
        width: 100%;
        text-align: center;
    }
    .info .info__content-left .block-text{
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    .info .info__content-right {
        width: 100%;
        margin-top: 50px;
    }
    .info .info__content-right img{
        width: 500px;
    }
}
@media(max-width: 524px){
    .info .info__content-left{
        padding-top: 0;
    }
    .info .info__content-left .block-text .info-text{
        font-size: 14px;
        line-height: 20px;
    }
    .info .info__content-left .info-subtitle {
        font-size: 18px;
    }
    .info .info__content-left .info-title{
        font-size: 41px;
    }
    .info .info__content-right img{
        width: 90%;
    }
}

/* humor */
@media(max-width: 524px){
    .humor__content-text{
        font-size: 14px;
        line-height: 20px;
    }
}

/* me */
@media(max-width: 1140px){
    .me__content-right{
        padding-top: 0;
    }
}
@media(max-width: 1050px){
    .me__content{
        flex-direction: column-reverse;
    }
    .me__content-left {
        width: 100%;
        margin-top: 50px;
    }
    .me__content-left video{
        display: block;
        margin: 0 auto;
    }
    .me__content-right .me-ol li::marker{
        text-align-last: end;
    }
}

@media(max-width: 580px){
    .me__content-right .me-ol li{
        font-size: 15px;
    }
    
    .me__content-right .me-title{
        font-size: 28px;
    }
}
@media(max-width: 414px){
    .me__content-right .me-ol li{
        font-size: 13px;
    }
    
    .me__content-right .me-title{
        font-size: 28px;
    }
}

/* swiper */
@media(max-width: 1289px){
    .works .swiper1 .swiper-pagination{
        display: inline;
    }
    .works .swiper1 .swiper-button-prev,
.works .swiper1 .swiper-button-next {
  display: inline;
}
}

@media(max-width: 700px){
    .works .swiper1 .swiper-button-prev{
        left: 60%;
        }
}

@media(max-width: 1050px){
    .works__content{
        flex-direction: column-reverse;
    }
    .works__content-left,
    .works__content-right{
        width: 100%;
    }
    .works__content-right{
        margin-bottom: 50px;
    }
}

/* call */
@media(max-width: 866px){
    .call__content{
        flex-direction: column;
        text-align: center;
    }
    .call__content-left img{
        left: 50%;
        margin-left: -50px;
    }
    .call__content-right img{
        left: 50%;
        margin-left: -50px;
    }
    .call__content-left{
        margin-bottom: 50px;
    }
}

@media(max-width: 400px){
    .call-title {
        font-size: 24px;
    }
    .call__content-left h4,
    .call__content-right h4{
        font-size: 18px;
    }

    footer .footer{
        flex-direction: column;
    }
}